<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

 <typeAliases>
  <typeAlias type="com.faith.entity.GoodsType" alias="GoodsType"/>
  <typeAlias type="com.faith.entity.Goods" alias="Goods"/>
 </typeAliases>
 <environments default="development">
 <environment id="development">
 <transactionManager type="JDBC"/>
 <dataSource type="POOLED">
 <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
 <property name="url" value="jdbc:mysql://150.158.175.133:3306/faithdb?useSSL=false&amp;serverTimezone=UTC"/>
 <property name="username" value="root"/>
 <property name="password" value="*******"/>
 </dataSource>
 </environment>
 </environments>
 <mappers>
		<mapper resource="com/faith/dao/GoodsMapper.xml"/>
  <mapper resource="com/faith/dao/GoodsTypeMapper.xml"/>
  <mapper resource="com/faith/dao/DetailMapper.xml"/>
	</mappers>
</configuration>
