<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faith.dao.IGoodsTypeDao">
<resultMap id="GoodsResultMap" type="com.faith.entity.GoodsType">
    <id column="tid" property="tid"/>
    <result property="tname" column="goodType"/>
    <!--关联属性的映射关系-->
    <collection property="goods" ofType="Goods">
        <id column="id" property="gid"/>
        <result column="goodsname" property="gname"/>
        <result column="price" property="gprice"/>
        <result column="quantity" property="gquantity"/>
        <result column="gtype" property="gtype"/>
    </collection>
</resultMap>
    <select id="findGoodsById" parameterType="int" resultMap="GoodsResultMap">
        SELECT goods.id,goods.goodsname,goods.price,goods.quantity,goods.gtype,goodsnum.goodType,goodsnum.tid from goods,goodsnum
        where goods.gtype=goodsnum.tid
        ORDER BY goodsnum.tid
    </select>
</mapper>